body {
    font-family: sans-serif;
  }
  
  h1 {
    font-size: 24px;
  }
  
  select,
  input,
  button {
    font-size: 16px;
    padding: 5px;
  }
  
  button {
    background-color: #000;
    color: #fff;
  }
  
  span {
    font-size: 18px;
  }